# 2 b) Prediction on a hold-out test set

##### Import Libraries

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Load DataSet

In [25]:
data = pd.read_csv("D:\\Machine Learning\CE802_P2_Data\CE802_P2_Data.csv")
data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,30,186.88,-21.06,-17.68,14.20,563.22,-3.29,-5.32,-18.90,9.20,-9.44,10.89,-8.54,510,NaN,False
1,30,196.88,-22.89,-19.38,19.70,353.22,-5.71,-1.48,-18.33,7.15,-8.58,15.89,-8.44,760,7.22,False
2,30,96.88,-19.65,-16.46,17.30,398.22,-5.19,-1.96,-14.64,7.10,-9.18,20.89,-8.79,610,7.69,False
3,3,216.88,-33.24,-27.80,0.84,344.22,-0.86,-6.89,-14.73,0.09,-17.98,7.89,-3.78,32,NaN,False
4,3,198.88,-32.52,-26.26,1.52,278.22,0.08,-7.73,-13.62,1.91,-23.94,7.89,-3.25,36,NaN,True

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      1500 non-null   int64
 1   F2      1500 non-null   float64
 2   F3      1500 non-null   float64
 3   F4      1500 non-null   float64
 4   F5      1500 non-null   float64
 5   F6      1500 non-null   float64
 6   F7      1500 non-null   float64
 7   F8      1500 non-null   float64
 8   F9      1500 non-null   float64
 9   F10     1500 non-null   float64
 10  F11     1500 non-null   float64
 11  F12     1500 non-null   float64
 12  F13     1500 non-null   float64
 13  F14     1500 non-null   int64
 14  F15     750 non-null    float64
 15  Class   1500 non-null   bool
dtypes: bool(1), float64(13), int64(2)
memory usage: 177.4 KB

In [27]:
#Check Null Values
data.isnull().sum()

F1         0
F2         0
F3         0
F4         0
F5         0
F6         0
F7         0
F8         0
F9         0
F10        0
F11        0
F12        0
F13        0
F14        0
F15      750
Class      0
dtype: int64

##### Missing Values Imputation

In [28]:
# filling data
data['F15'] = data['F15'].fillna(data['F15'].mean()) 
print(data)

      F1      F2     F3     F4     F5      F6    F7    F8     F9   F10    F11  \
0     30  186.88 -21.06 -17.68  14.20  563.22 -3.29 -5.32 -18.90  9.20  -9.44
1     30  196.88 -22.89 -19.38  19.70  353.22 -5.71 -1.48 -18.33  7.15  -8.58
2     30   96.88 -19.65 -16.46  17.30  398.22 -5.19 -1.96 -14.64  7.10  -9.18
3      3  216.88 -33.24 -27.80   0.84  344.22 -0.86 -6.89 -14.73  0.09 -17.98
4      3  198.88 -32.52 -26.26   1.52  278.22  0.08 -7.73 -13.62  1.91 -23.94
...   ..     ...    ...    ...    ...     ...   ...   ...    ...   ...    ...
1495  30  266.88 -18.69 -17.30  14.70  383.22 -4.94 -3.05  -9.78  5.95 -14.20
1496  30  206.88 -22.35 -18.00  12.30  428.22 -3.27 -3.48  -8.46  9.20 -11.56
1497  30  106.88 -17.91 -17.48  13.50  623.22 -5.96 -2.59 -13.89  9.40  -7.06
1498  30  336.88 -23.73 -18.68  17.60  503.22 -5.01 -3.72  -7.98  6.50  -8.60
1499   3  218.88 -34.08 -26.14   1.18  335.22  0.77 -7.68 -15.21  1.43 -25.30

        F12    F13  F14       F15  Class
0     10.89  -8.54  510  7.903013  False
1     15.89  -8.44  760  7.220000  False
2     20.89  -8.79  610  7.690000  False
3      7.89  -3.78   32  7.903013  False
4      7.89  -3.25   36  7.903013   True
...     ...    ...  ...       ...    ...
1495  20.89  -9.29  110  9.380000   True
1496  30.89  -8.44  260  6.520000  False
1497  20.89 -11.79  370  7.903013   True
1498  30.89  -8.04  250  7.903013  False
1499   9.89  -2.86   16  7.960000   True

[1500 rows x 16 columns]

##### Create X and Y Metrics

In [29]:
x=data.drop('Class', axis=1)
y=data['Class']

In [30]:
x.shape,y.shape

((1500, 15), (1500,))

##### Data Split

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [32]:
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler

X_train=StandardScaler(with_mean=False).fit_transform(X_train)
X_train.shape

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(1200, 15)

In [33]:
X_test=StandardScaler(with_mean=False).fit_transform(X_test)
X_test.shape

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(300, 15)

# Testing the model with new data

In [47]:
test = pd.read_csv("D:\\Machine Learning\CE802_P2_Data\CE802_P2_Test.csv")

In [48]:
test

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,0,196.88,-39.51,-24.76,1.80,284.22,-0.26,-9.05,-20.55,1.17,-22.02,7.89,-3.38,2,NaN,NaN
1,3,196.88,-31.74,-31.54,1.48,368.22,-0.90,-6.35,-12.63,1.64,-18.34,7.89,-3.77,10,8.81,NaN
2,3,160.88,-33.09,-25.76,1.74,329.22,1.45,-6.55,-18.33,1.30,-19.48,7.89,-3.51,98,NaN,NaN
3,30,206.88,-20.19,-24.48,13.50,563.22,-3.24,-2.30,-13.56,5.50,-8.58,30.89,-9.49,270,NaN,NaN
4,3,218.88,-33.51,-33.38,0.68,263.22,1.41,-6.80,-22.26,1.01,-22.90,7.89,-3.56,106,7.28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,30,26.88,-29.04,-21.62,10.60,758.22,-2.31,-4.86,-13.95,6.80,-15.76,20.89,-8.29,120,NaN,NaN
1496,0,202.88,-37.32,-25.78,0.36,371.22,2.04,-9.52,-16.05,1.17,-26.78,7.89,-3.70,24,7.77,NaN
1497,30,16.88,-27.69,-23.38,10.50,683.22,-2.46,-3.86,-21.75,8.40,-12.52,10.89,-8.39,160,7.16,NaN
1498,0,174.88,-35.70,-25.64,1.76,239.22,-0.64,-7.08,-12.57,1.70,-17.44,7.89,-3.29,40,NaN,NaN
1499,30,146.88,-17.13,-20.28,15.40,623.22,-0.40,-2.22,-12.60,6.25,-11.50,10.89,-10.24,220,NaN,NaN

##### Missing Values Imputation

In [49]:
test['F15'] = test['F15'].fillna(test['F15'].mean()) 
print(test)

      F1      F2     F3     F4     F5      F6    F7    F8     F9   F10    F11  \
0      0  196.88 -39.51 -24.76   1.80  284.22 -0.26 -9.05 -20.55  1.17 -22.02
1      3  196.88 -31.74 -31.54   1.48  368.22 -0.90 -6.35 -12.63  1.64 -18.34
2      3  160.88 -33.09 -25.76   1.74  329.22  1.45 -6.55 -18.33  1.30 -19.48
3     30  206.88 -20.19 -24.48  13.50  563.22 -3.24 -2.30 -13.56  5.50  -8.58
4      3  218.88 -33.51 -33.38   0.68  263.22  1.41 -6.80 -22.26  1.01 -22.90
...   ..     ...    ...    ...    ...     ...   ...   ...    ...   ...    ...
1495  30   26.88 -29.04 -21.62  10.60  758.22 -2.31 -4.86 -13.95  6.80 -15.76
1496   0  202.88 -37.32 -25.78   0.36  371.22  2.04 -9.52 -16.05  1.17 -26.78
1497  30   16.88 -27.69 -23.38  10.50  683.22 -2.46 -3.86 -21.75  8.40 -12.52
1498   0  174.88 -35.70 -25.64   1.76  239.22 -0.64 -7.08 -12.57  1.70 -17.44
1499  30  146.88 -17.13 -20.28  15.40  623.22 -0.40 -2.22 -12.60  6.25 -11.50

        F12    F13  F14       F15  Class
0      7.89  -3.38    2  7.936347    NaN
1      7.89  -3.77   10  8.810000    NaN
2      7.89  -3.51   98  7.936347    NaN
3     30.89  -9.49  270  7.936347    NaN
4      7.89  -3.56  106  7.280000    NaN
...     ...    ...  ...       ...    ...
1495  20.89  -8.29  120  7.936347    NaN
1496   7.89  -3.70   24  7.770000    NaN
1497  10.89  -8.39  160  7.160000    NaN
1498   7.89  -3.29   40  7.936347    NaN
1499  10.89 -10.24  220  7.936347    NaN

[1500 rows x 16 columns]

In [50]:
del test['Class']

# Using Random Forest Classifier for Testing the data

In [51]:
from sklearn.ensemble import RandomForestClassifier

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

##### Instantiate Random Forest Classifier

In [ ]:
rfclassifier = RandomForestClassifier(n_estimators=40, min_samples_split= 10, max_features= 'auto', max_depth= 5)

##### Fit the Random Forest to the training data

In [61]:
rfclassifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [52]:
##Data Standardizing
test_std=StandardScaler(with_mean=False).fit_transform(test)

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

##### Do prediction using our test data

In [53]:
final_pred = rfclassifier.predict(test_std)

In [54]:
final_pred

array([ True,  True,  True, ..., False, False,  True])

In [55]:
finaldata=pd.DataFrame(final_pred)
finaldata

          0
0      True
1      True
2      True
3     False
4     False
...     ...
1495  False
1496  False
1497  False
1498  False
1499   True

[1500 rows x 1 columns]

In [56]:
finaldata.columns=['Class']

In [57]:
finaldata['Class'].value_counts()

False    888
True     612
Name: Class, dtype: int64

In [58]:
test['Class']=finaldata['Class']

In [59]:
test.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,Class
0,0,196.88,-39.51,-24.76,1.80,284.22,-0.26,-9.05,-20.55,1.17,-22.02,7.89,-3.38,2,7.936347,True
1,3,196.88,-31.74,-31.54,1.48,368.22,-0.90,-6.35,-12.63,1.64,-18.34,7.89,-3.77,10,8.810000,True
2,3,160.88,-33.09,-25.76,1.74,329.22,1.45,-6.55,-18.33,1.30,-19.48,7.89,-3.51,98,7.936347,True
3,30,206.88,-20.19,-24.48,13.50,563.22,-3.24,-2.30,-13.56,5.50,-8.58,30.89,-9.49,270,7.936347,False
4,3,218.88,-33.51,-33.38,0.68,263.22,1.41,-6.80,-22.26,1.01,-22.90,7.89,-3.56,106,7.280000,False

##### Generate Test Data CSV

In [60]:
CE802_P2_Test= test.to_csv(r'D:\Machine Learning\CE802_P2_Data\Test Output\CE802_P2_Test.csv')