# 3 b) Prediction on a hold-out test set

##### Import Libraries

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##### Load DataSet

In [80]:
# making data frame from csv file
data = pd.read_csv("D:\\Machine Learning\CE802_P3_Data\CE802_P3_Data.csv")
data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,16.56,12.42,-236.06,Rest,-98.88,529.56,4.54,379.54,1,1,7.30,High,-15085.87,-12.93,-39.42,1734.58,3616.82
1,11.72,12.46,-190.06,Rest,-59.22,493.11,0.05,402.78,5,3,-1.28,Very low,-15782.44,-8.55,-35.61,1672.70,3342.88
2,4.34,2.74,-201.20,UK,-228.48,563.79,1.22,147.35,4,4,8.28,Low,-10526.01,-9.66,-29.10,1462.86,0.00
3,12.76,2.58,-282.26,UK,-173.28,536.94,0.25,113.49,4,3,6.26,Low,-8327.14,-19.23,-34.59,809.46,1742.65
4,11.10,9.82,-242.86,USA,-193.14,617.52,9.15,343.64,8,6,-6.88,Very low,-14434.13,-9.45,-46.14,1435.90,373.56

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      1500 non-null   float64
 1   F2      1500 non-null   float64
 2   F3      1500 non-null   float64
 3   F4      1500 non-null   object
 4   F5      1500 non-null   float64
 5   F6      1500 non-null   float64
 6   F7      1500 non-null   float64
 7   F8      1500 non-null   float64
 8   F9      1500 non-null   int64
 9   F10     1500 non-null   int64
 10  F11     1500 non-null   float64
 11  F12     1500 non-null   object
 12  F13     1500 non-null   float64
 13  F14     1500 non-null   float64
 14  F15     1500 non-null   float64
 15  F16     1500 non-null   float64
 16  Target  1500 non-null   float64
dtypes: float64(13), int64(2), object(2)
memory usage: 199.3+ KB

In [82]:
#There are 4 distinct categories.
data['F4'].value_counts()

Rest      407
UK        380
USA       360
Europe    353
Name: F4, dtype: int64

In [83]:
#There are 5 distinct values.
data['F12'].value_counts()

Very low     312
Low          310
High         301
Very high    290
Medium       287
Name: F12, dtype: int64

In [84]:
#Using the get_dummies function to transform the categorical values to numeric.

data=pd.get_dummies(data, columns=["F4", "F12"],drop_first=True)

In [85]:
data['TARGET']=data['Target']

In [86]:
del data['Target']

In [87]:
data.head()

,F1,F2,F3,F5,F6,F7,F8,F9,F10,F11,...,F15,F16,F4_Rest,F4_UK,F4_USA,F12_Low,F12_Medium,F12_Very high,F12_Very low,TARGET
0,16.56,12.42,-236.06,-98.88,529.56,4.54,379.54,1,1,7.30,...,-39.42,1734.58,1,0,0,0,0,0,0,3616.82
1,11.72,12.46,-190.06,-59.22,493.11,0.05,402.78,5,3,-1.28,...,-35.61,1672.70,1,0,0,0,0,0,1,3342.88
2,4.34,2.74,-201.20,-228.48,563.79,1.22,147.35,4,4,8.28,...,-29.10,1462.86,0,1,0,1,0,0,0,0.00
3,12.76,2.58,-282.26,-173.28,536.94,0.25,113.49,4,3,6.26,...,-34.59,809.46,0,1,0,1,0,0,0,1742.65
4,11.10,9.82,-242.86,-193.14,617.52,9.15,343.64,8,6,-6.88,...,-46.14,1435.90,0,0,1,0,0,0,1,373.56

#### Create X and Y Metrics

In [88]:
x=data.drop(['TARGET'],axis='columns')
y=data['TARGET']

#### Data Split

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [90]:
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler

X_train=StandardScaler(with_mean=False).fit_transform(X_train)
X_train.shape

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(1200, 21)

In [91]:
X_test=StandardScaler(with_mean=False).fit_transform(X_test)
X_test.shape

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

(300, 21)

# Testing the model with new data

In [92]:
test_data = pd.read_csv("D:\\Machine Learning\CE802_P3_Data\CE802_P3_Test.csv")

In [93]:
test_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,28.70,0.82,-115.06,USA,-280.95,581.10,0.06,214.35,2,2,-0.88,Low,-14794.01,-15.09,-35.61,1578.68,NaN
1,5.40,6.90,-170.24,Rest,-228.00,330.54,0.31,-164.98,1,9,0.28,Medium,-11632.88,0.72,-29.73,1647.02,NaN
2,21.96,4.40,-219.12,Rest,-59.67,662.28,4.98,281.54,6,5,5.82,Low,-12631.29,-23.61,-32.73,1449.14,NaN
3,10.52,1.02,-184.14,UK,-211.23,506.55,0.57,-311.96,7,5,1.92,High,-26664.88,1.80,-22.92,911.98,NaN
4,2.00,0.58,-190.56,Rest,-284.82,649.41,0.05,291.47,8,3,-0.02,Low,-9901.41,-13.47,-48.81,2251.04,NaN

In [94]:
#Using the get_dummies function to transform the categorical values to numeric.

test_set=pd.get_dummies(test_data, columns=["F4", "F12"],drop_first=True)

In [95]:
test_set.head()

,F1,F2,F3,F5,F6,F7,F8,F9,F10,F11,...,F15,F16,Target,F4_Rest,F4_UK,F4_USA,F12_Low,F12_Medium,F12_Very high,F12_Very low
0,28.70,0.82,-115.06,-280.95,581.10,0.06,214.35,2,2,-0.88,...,-35.61,1578.68,NaN,0,0,1,1,0,0,0
1,5.40,6.90,-170.24,-228.00,330.54,0.31,-164.98,1,9,0.28,...,-29.73,1647.02,NaN,1,0,0,0,1,0,0
2,21.96,4.40,-219.12,-59.67,662.28,4.98,281.54,6,5,5.82,...,-32.73,1449.14,NaN,1,0,0,1,0,0,0
3,10.52,1.02,-184.14,-211.23,506.55,0.57,-311.96,7,5,1.92,...,-22.92,911.98,NaN,0,1,0,0,0,0,0
4,2.00,0.58,-190.56,-284.82,649.41,0.05,291.47,8,3,-0.02,...,-48.81,2251.04,NaN,1,0,0,1,0,0,0

In [96]:
del test_set['Target']

In [97]:
test_set.shape

(1500, 21)

# Using Linear Regression for Testing the data.

In [98]:
#Standardization of the data

test_std=StandardScaler(with_mean=False).fit_transform(test_set)

C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\user\miniconda3\envs\ce802\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [107]:
import sklearn
from sklearn import linear_model

##### Instantiate Random Forest Classifier

In [108]:
model=linear_model.LinearRegression()

##### Fit the Linear Regression to the training data

In [109]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

##### Do prediction using our test data

In [110]:
# Predict the new dataset.

Target=model.predict(test_std)

In [111]:
Target

array([ 810.98843859,  320.25821507, 2717.3348305 , ...,  840.61740937,
        -25.27505902,   29.93177781])

In [104]:
test_data['Target']=Target

In [105]:
test_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,Target
0,28.70,0.82,-115.06,USA,-280.95,581.10,0.06,214.35,2,2,-0.88,Low,-14794.01,-15.09,-35.61,1578.68,810.988439
1,5.40,6.90,-170.24,Rest,-228.00,330.54,0.31,-164.98,1,9,0.28,Medium,-11632.88,0.72,-29.73,1647.02,320.258215
2,21.96,4.40,-219.12,Rest,-59.67,662.28,4.98,281.54,6,5,5.82,Low,-12631.29,-23.61,-32.73,1449.14,2717.334831
3,10.52,1.02,-184.14,UK,-211.23,506.55,0.57,-311.96,7,5,1.92,High,-26664.88,1.80,-22.92,911.98,1895.567701
4,2.00,0.58,-190.56,Rest,-284.82,649.41,0.05,291.47,8,3,-0.02,Low,-9901.41,-13.47,-48.81,2251.04,236.683717

##### Generate Test Data CSV

In [106]:
CE802_P3_Test= test_data.to_csv(r'D:\Machine Learning\CE802_P3_Data\Test Output\CE802_P3_Test.csv')